/* Global Changes */
:root {
  --back-color: black;
  --slider-color: white;
  --text-color: white;
  --selection-color: #666;
  --break-color: #444;
  font-family: "Yomogi", cursive;
}
body {
  background-color: var(--back-color);
  color: var(--text-color);
  font: var(--text-color);
  font-family: "Yomogi", cursive;
}
.home {
  text-align: center;
  font-family: "Yomogi", cursive;

  font-weight: 10;
  background-color: var(--back-color);
  font: var(--text-color);
}

a {
  text-decoration: none;
  font-family: "Yomogi", cursive;

  color: var(--text-color);
}
a:hover {
  color: var(--selection-color);
  z-index: 4;
}
h1 {
  font-size: 30px;
  font-style: lighter;
}
.links {
  border-radius: 35px;
  padding: 10px 10px;
  margin: 3%;
  text-align: center;
  transition: 1s ease-out 100ms;
  font-size: 28px;
}
:hover.links {
  background-color: var(--slider-color);
  color: var(--text-color);
  border-radius: 35px;
  transition: 1s ease-in 100ms;
}
/** end of global instantiations **/

/* Logo */
.top {
  clear: both;
  background-color: var(--back-color);
  border: solid var(--back-color) 1px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 50px;
  color: var(--text-color);
  width: 99%;
  height: 60px;
  display: grid;
  font-size: 48px;
}
/*end of logo*/

/*timer-options*/
#timer-options-container {
  margin-top: 3%;
  padding-top: 10px;
  overflow: auto;
  overflow: hidden;
}
#timer-interval-container {
  width: 50%;
  margin-right: 0px;
}
#timer-break-container {
  width: 50%;
  margin-left: 0px;
}
.timer-options-header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
  padding: 0 0 0 10px;
}
#timer-options {
  height: 0;
  width: 50%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  position: relative;
  box-shadow: inset 0 0 15px var(--slider-color);
  border-radius: 25px;
}

::-webkit-scrollbar {
  width: 0px;
}
/*end of timer-options*/

/**Timer portion*/
.timer {
  font-size: 60px;
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 96px 258px;
  border-radius: 30px;
  box-shadow: inset 0 0 56px var(--text-color);
  color: var(--selection-color);
}
.material-icons {
  padding: 20px;
  transition: 0.8s;
}

.timer__btn:hover {
  transition: 0.8s;
  color: var(--selection-color);
  box-shadow: inset 0 0 10px var(--text-color);
  border-radius: 10px;
}
.timer__btn {
  transition: 0.8s;
  background-color: var(--back-color);
  border: 0;
  border-radius: 10px;
  color: var(--text-color);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.timer__value--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timer__value--times {
  display: grid;
}
.timer__value--times {
  grid-column-start: 1;
  grid-column-end: 2;
}
.timer__buttons--container {
  grid-column-start: 2;
  grid-column-end: 3;
}
.timer__value--break {
  color: var(--break-color);
  font-size: 34px;
}

/**end of timer */
/* Top Nav Buttons */
.topNav {
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  color: var(--text-color);
}
.topButtons {
  list-style: none;
  flex: 1;
}
/* end of top nav btns */

/* Bottom Nav Buttons */
.bottNav {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--text-color);
}
.bottButtons {
  list-style: none;
  flex: 1;
}
.sub {
  margin: 0px;
}
.sub_sub {
  margin-top: 0px;
}
.priority {
  margin: 0px;
  color: aqua;
}
.complete {
  margin: 0px;
  color: greenyellow;
}
.lower-nav {
  margin-bottom: 3%;
}
.to-do {
  display: inline-block;
  text-align: left;
}
/* end of bott nav btns */
