/* Global changes*/
:root {
  --back-color: black;
  --slider-color: white;
  --text-color: white;
  --selection-color: #666;

  font-family: "Yomogi", cursive;
}
body {
  text-align: center;
  font-family: "Yomogi", cursive;

  font-weight: 10;
  background-color: rgb(0, 0, 0);
  font: white;
}
h1 {
  font-size: 30px;
  font-style: lighter;
}
a {
  text-decoration: none;
  font-family: "Yomogi", cursive;

  color: white;
}
a:hover,
a:focus {
  color: black;
  z-index: 4;
}
/* End of Global */
/* Top Portion */

.top {
  clear: both;
  position: fixed;
  z-index: 5;
  background-color: var(--back-color);
  border: solid var(--back-color) 1px;
  margin: 0;
  top: 0;
  padding-top: 25px;
  padding-bottom: 50px;
  color: white;
  width: 99%;
  height: 60px;
  display: grid;
  box-shadow: 10px 50px 50px var(--back-color);
}
.backBtn {
  height: 40px;
  background-color: var(--background-color);
  clear: both;
  padding: 5px;
  background-color: black;
  border: 1px solid transparent;
  color: white;
  font-weight: bolder;
  --background-color: white;
  --accent-color: white;
  font-size: 24px;
}
.backBtn.backBtn-slide::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);

  transition: transform 500ms ease-in;
  transform: scaleX(0);
  transform-origin: left;
  height: 80px;
}
.backBtn.backBtn-slide:hover::before,
.backBtn.backBtn-slide:focus::before {
  transform: scale(1);
}
.backBtn.backBtn-slide {
  transition: color 300ms ease-in-out;
  z-index: 4;
}
.backBtn.backBtn-slide:hover,
.backBtn.backBtn-slide:focus {
  color: black;
  z-index: 4;
}
/** End of Top Nav **/

/** Content of timer */
.content {
  z-index: 20;
  margin-top: 22%;
  color: var(--text-color);
}
.cursive {
  color: var(--selection-color);
}
/** end of content */
